

<div class="small-me">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h1 class="panel-title">Edit a Reminder</h1>
    </div>
    <div class="panel-body">
      
      <%= form_for :reminder, url: user_reminder_url(current_user, @reminder), method: "patch", class: 'form-horizontal' do |f| %>

      <div>
        <%= f.label(:contact_id, "Contacts") %>
        <%= f.collection_select :contact_ids, current_user.contacts.order(:name), :id, :name, {}, include_blank: true, multiple: true, size: 3, class: "form-control" %>
      </div>

      <div>
        <%= f.label(:body, "Reminder message") %>
      </div>

      <div>
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <div>
        <%= f.label(:time_to_go_out, "Reminder time") %>
        <%= f.datetime_field :time_to_go_out, class: "form-control" %>
      </div>

      <div>
        <%= f.label(:number_of_recurrences, "Number of recurrences") %>
        <%= f.text_field :number_of_recurrences, value: "0", class: "form-control" %>
      </div>
      <div>
        <%= f.label(:time_of_recurrence, "How often?")%><%= f.select(:time_of_recurrence, ['every ten minutes','hourly', 'every 6 hours', 'every 12 hours', 'daily', 'weekly', 'monthly'], id: "select", include_blank: true) %>
      </div>
      <%= f.submit("Edit", class: "btn btn-primary space-me") %>
      <% end %>

    </div>
  </div>
</div>




