<div class="well bs-component register-page-form">

<h1>
<%= @group.name %>
</h1>

<ul class="list-group">
  <% @group.contacts.each do |contact| %>
    <li class="list-group-item"><%= link_to contact.name, user_contact_path(@user, contact) %> - <%= contact.phone_number %></li>
  <% end %>
</ul>

  <%= link_to "Edit", edit_user_group_url(@user, @group), class: "btn btn-primary" %>
  <%= link_to "Delete", user_group_url(@user, @group), method: :delete, class: "btn btn-primary" %>

</div>
<!-- select multiple for contacts -->
