<h1 class="register-page-header">Edit Contact Info:</h1>
<div class="well bs-component register-page-form">
	<%= form_for @contact, url: user_contact_path(@user, @contact), method: "patch", class: "form-horizontal" do |f| %>
	<div>
		<%= f.label(:name, "Name") %>
		<%= f.text_field(:name, class: "form-control") %>
	</div>
	<div>
		<%= f.label(:phone_number, "Phone number") %>
		<%= f.text_field(:phone_number, class: "form-control") %>
	</div>
	<div>
		<%= f.submit("Update", class: "btn btn-primary") %>
	</div>
	<% end %>
</div>