
<%= render 'errors' %>

<div class="small-me">
	<div class="panel panel-info">
		<div class="panel-heading">
		<h1 class="panel-title">Create a new contact</h1>
		</div>
		<div class="panel-body">
				<%= form_for @contact, url: user_contacts_path(@user), method: "post", class: "form-horizontal" do |f| %>
		<div>
			<%= f.label(:name, "Name") %>
			<%= f.text_field(:name, class: "form-control") %>
		</div>
		<div>
			<%= f.label(:phone_number, "Phone number") %>
			<%= f.text_field(:phone_number, class: "form-control") %>
		</div>
		<div>
			<%= f.submit("Create", class: "btn btn-primary space-me") %>
		</div>
		<% end %>
		</div>
	</div>
</div>
