<!DOCTYPE html>
<html>
  <head>
    <title>Remindr</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-default">
      <!-- <div class="container-fluid"> -->
      <!-- <div class="collapse navbar-collapse"> -->
        <ul class="nav nav-tabs nav-bar small-bar">
          <li><%= link_to 'Home', root_url, class: "navbar-brand" %></li>
          <% if logged_in? %>
            <li><%= link_to current_user.user_name, user_reminders_path(current_user), class: "navbar-brand" %></li> 
            <li><%= link_to 'Address Book', user_contacts_path(current_user), class: "navbar-brand" %></li> 
            <li><%= link_to 'Logout', sessions_url, method: :delete, class: "navbar-brand" %></li>
          <% else %>
            <li><%= link_to 'New User', new_user_url, class: "navbar-brand" %></li>
            <li><%= link_to 'Login', new_session_url, class: "navbar-brand" %></li> 
          <% end %>
        </ul>
      <!-- </div> -->
      <!-- </div> -->
    </nav>
    
      <%= yield %>
  </body>
</html>
