<!DOCTYPE html>
<html>
  <head>
    <title>Remindr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <ul class="nav nav-tabs">
      <% if logged_in? %>
        <li><%= link_to 'Logout' %></li> <!-- , sessions_url, method: :delete -->
      <% else %>
        <li><%= link_to 'New User' %></li> <!-- , new_user_url -->
        <li><%= link_to 'Login' %></li> <!-- , sessions_new_url -->
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
