<!DOCTYPE html>
<html>
  <head>
    <title>Remindr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <ul class="nav nav-tabs">
      <% if logged_in? %>
        <li><%= link_to current_user.user_name %></li> 
        <li><%= link_to 'Logout', sessions_url, method: :delete %></li>
      <% else %>
        <li><%= link_to 'New User', new_user_url %></li>
        <li><%= link_to 'Login', new_session_url %></li> 
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
